{% extends 'layout.html' %}

{% block content %}


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 heading">Hello, world!</h1> 
      <p class="j-text">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container blue-bg">
    <!-- Example row of columns -->
    <div class="row">
    {% for post in posts%}
      <div class="col-md-4">
        <h2>{{post.title}}</h2>
        <img src="{{post.image.url}}" alt="pubglogo" class="logo">
        <p>{{post.desc}}</p>
        <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
      </div>
    {% endfor %} 
    </div>

    <hr>

  </div> <!-- /container -->

{% endblock content %}